:root {
    --corBotao: #8ecae6;
    --corTextoBotao: #023047;
}

body {
    width: 100vw;
    margin: auto;
}

#divSuperior {
    text-align: center;
    padding-top: 3%;
    height: 25vh;
    border-bottom: solid 0.1rem black;
    width: 100%;
    margin-bottom: 3%;
    background-color: #ffaf01;
}

#iconePerfil {
    height: 35px;
    width: 35px;
    margin-right: 5%;
    cursor: pointer;
}

.posicionarIcone {
    width: 100vw;
    text-align: end;
}

#conteinerPrincipal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conteiner {
    margin: 5%;
    padding: 4%;
    width: 230px;
    border: solid 0.01rem #8d99a0;
    border-radius: 7px;
    height: 230px;
}

.imagemProduto {
    text-align: center;
    height: 70px;
    width: 100%;
    border-bottom: solid 0.1rem black;
    background-color: #ffaf01;
}

.botaoDescricao {
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--corBotao);
    color: var(--corTextoBotao);
}

.posicionarBotao {
    display: flex;
    justify-content: space-between;
    height: 19%;
    width: 100%;
}

#botaoFiltros {
    height: 30px;
    width: 80px;
    margin-right: 15px;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--corBotao);
    color: var(--corTextoBotao);
}