
body {
    width: 100vw;
    margin: auto;
}

#divSuperior {
    text-align: center;
    padding-top: 3%;
    height: 25vh;
    border-bottom: solid 0.1rem black;
    width: 100%;
    margin-bottom: 3%;
    background-color: #ffaf01;
}

#iconePerfil {
    height: 35px;
    width: 35px;
    margin-right: 5%;
    cursor: pointer;
}

.posicionarIcone {
    width: 100vw;
    text-align: end;
}

#conteinerPrincipal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conteiner {
    margin: 5%;
    padding: 4%;
    border: solid 0.1rem #023047;
    height: 230px;
}

.imagemProduto {
    text-align: center;
    height: 70px;
    width: 100%;
    border-bottom: solid 0.1rem black;
    background-color: #ffaf01;
}

.botaoDescricao {
    border-radius: 7px;
    cursor: pointer;
    background-color: #8ecae6;
    color: #023047;
}

.posicionarBotao {
    display: flex;
    justify-content: space-between;
    height: 19%;
    width: 100%;
}

/* colocar vaiavel de ambiente para cor do botao */
#botaoFiltros {
    height: 30px;
    width: 80px;
    margin-right: 15px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #8ecae6;
    color: #023047;
}